doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(name="description",content="")
    meta(name="author",content="")
    title= title
    block styles
      link(rel="stylesheet",href="../stylesheets/style.min.css")
  body(data-spy="scroll",data-target=".scrollspy")
    .container
      include partials/header
      block body
        
      block scripts
        script(src="../javascripts/lib/jquery.min.js")
        script(src="../javascripts/scripts.min.js")
